.contact h1 {
    font-size: 3.5vw;

    margin: 0 0;
    margin-top: 3vw;
    margin-bottom: 2vw;

    color: #bc9f6c;

    user-select: none;
}

.contact form {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin: 0 auto;
    margin-bottom: 5vw;

    width: 40vw;

}
.contact label {
    text-align: left;
    font-weight: bold;
    font-size: 2.25vw;
    color: #424242;
}
.contact input {
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 6px;
    padding: 0.5vw;
    font-size: 1vw;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5vw;  /* space between icon and text */
    margin-bottom: 0.1vw;
  }

.contact-svg-icon {
    width: 3vw;
    height: auto;
    object-fit: contain;
}
.contact textarea {
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 6px;
    padding: 0.5vw;

    height: 200px;
    font-size: 1vw;

    resize: none;
}

.contact-text {
    font-size: 1.8vw;
    color: #bc9f6c;
  }


.contact button {
    border-style: solid;
    border-color: #bc9f6c;
    border-radius: 5px;
    border-width: 0.2vw;

    background-color: #bc9f6c;
    color: #fffcf7;

    padding: 0.65vw;
    width: 20vw;

    font-size: 1.8vw;
    font-weight: bold;

    transition: 200ms ease;

    align-self: flex-end;
}
.contact button:hover {
    background-color: #fffcf7;
    border-color: #bc9f6c;
    color: #bc9f6c;

    transition: 200ms ease;
}

.contact-info {
    margin: 2vw auto;
    /* stack items vertically and center each line */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* space between each line */
  gap: 0.5vw;
  
  /* you can remove or shrink the fixed width */
  width: auto;
    width: 40vw;
    text-align: center;
}

.contact-info p {
    margin: 0.5vw 0;
    font-size: 1.8vw;
    color:#424242;
}

.contact-info a {
    color:#bc9f6c;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Adjust form width & text for mobile */
@media (max-width: 600px) {
    .contact h1 {
      font-size: 10vw;
      margin-bottom: 6vw;
    }
    .contact-info {
      width: 80vw;
      gap: 2vw;
      margin-bottom: 4vw;
    }
    .contact-svg-icon {
      width: 8vw;
    }
    .contact-text {
      font-size: 6vw;
    }
    .contact form {
      width: 90vw;
      gap: 3vw;
    }
    .contact label {
      font-size: 6vw;
    }
    .contact input,
    .contact textarea {
      font-size: 4vw;
      padding: 3vw;
    }
    .contact button {
      width: 100%;
      font-size: 5vw;
      padding: 4vw;
      align-self: center;
    }
  }
  