.typewriter-text {
    font-weight: bolder;
    color: #fffcf7;
  }
  .cursor {
    display: inline-block;
    background-color: transparent;
    margin-left: 0.1em;
    animation: blink 0.7s infinite;
  }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  @media (max-width: 600px) {
    .typewriter-text {
      font-size: 8vw;       /* scale the typed text down/up */
      line-height: 1.2;
    }
    .cursor {
      width: 3vw;           /* ensure cursor remains visible */
      height: 8vw;
    }
  }