.typewriter-text {
    font-weight: bolder;
    color: #fffcf7;
  }
  .cursor {
    display: inline-block;
    background-color: transparent;
    margin-left: 0.1em;
    animation: blink 0.7s infinite;
  }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }